# User data
.DS_Store

# Temporary files
*~
*.swp
*.asv

# Data
*data

*.mat
*.zip
*.db
*.tar.gz

# Compiled files
*.o
*.mex*
*.dSYM
*.user
testDPET

# Common data/binary directories
test
build
bin
lib
